<footer class="bg-sky-500 dark:bg-sky-900 bottom-0 ">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="index.html" class="flex items-center">
                    <img src="assets/logos/mainlogo.webp" width="100" class=" me-3" alt="Elitexteriors Logo" />
                    <span
                        class="self-center text-2xl font-semibold font-heading uppercase whitespace-nowrap dark:text-white">Elite
                        <br> Exteriors</span>
                </a>
                <iframe class="my-10" border="0" marginheight="1" marginwidth="1" frameborder="0" scrolling="no"
                    seamless="seamless" style=" overflow:scroll; border: 0; height:100%; width:100%; scale:1 "
                    src="https://seal-norfolk.bbb.org/frame/blue-seal-120-61-bbb-90553538.png?chk=3213FA74AA"></iframe>
            </div>
            <div class="grid grid-cols-4 gap-8 sm:gap-6 sm:grid-cols-4">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-200 font-accent uppercase dark:text-white">
                        Service Locations
                    </h2>
                    <ul class="text-blue-950 text-start ml-2 font-paragraph dark:text-gray-400 font-medium">
                        <li class="mb-4">> Chesapeake</li>
                        <li class="mb-4">> Virginia Beach</li>
                        <li class="mb-4">> Hampton</li>
                        <li class="mb-4">> Norfolk</li>
                        <li class="mb-4">> Suffolk</li>
                        <li class="mb-4">> Newport News</li>
                        <li>> Williamsburg</li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-200 font-accent uppercase dark:text-white">
                        Services</h2>
                    <ul class="text-blue-950 text-start ml-2 font-paragraph dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Pressure Washing</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Gutter Cleaning</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Lawn Care</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">FAQ</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-200 font-accent uppercase dark:text-white">Legal
                    </h2>
                    <ul class="text-blue-950 text-start ml-2 font-paragraph dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-200 font-accent uppercase dark:text-white">
                        Contact
                        us</h2>
                    <ul class="text-blue-950 font-paragraph text-start ml-2 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="tel:+1757-796-7240" class="hover:underline">+1 (757)-796-7240</a>
                        </li>
                        <li class="mb-4">
                            <a href="mailto:info@elitxteriors.com" class="hover:underline">info@elitxteriors.com</a>
                        </li>
                        <li class="mb-4">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.265121292952!2d-76.24579072429445!3d36.74020687226422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89babb661e00d56b%3A0x2bb614b028c312f9!2s109%20G%20Gainsborough%20Square%20%23711%2C%20Chesapeake%2C%20VA%2023320%2C%20USA!5e0!3m2!1sen!2str!4v1745269875950!5m2!1sen!2str"
                                width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </li>
                        <p class="text-blue-950 font-paragraph dark:text-gray-400 font-medium">
                            Mon - Sat<br>
                            8am – 6pm<br>
                            <span class="text-white">Closed on Sundays</span><br>

                        </p>

                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-blue-950 font-paragraph sm:text-center dark:text-gray-400">© 2025 <a
                    href="index.html" class="hover:underline">Elite Exteriors™</a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="https://www.facebook.com/people/Elite-Exteriors-Pressure-Washing-Services/61571075571156/"
                    class="text-blue-950 font-paragraph hover:text-gray-200 font-accent dark:hover:text-white">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z"
                            clip-rule="evenodd" />
                    </svg>

                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="https://www.linkedin.com/company/elite-exteriors-pressure-washing-services"
                    class="text-blue-950 font-paragraph hover:text-gray-200 font-accent dark:hover:text-white ms-5">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z"
                            clip-rule="evenodd" />
                        <path d="M7.2 8.809H4V19.5h3.2V8.809Z" />
                    </svg>
                    <span class="sr-only">LinkedIn page</span>
                </a>

                </a>
                <a href="https://www.instagram.com/elit_xteriors/"
                    class="text-blue-950 font-paragraph hover:text-gray-200 font-accent dark:hover:text-white ms-5">
                    <svg class="w-6 h-6 text-blue-950 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path fill="currentColor" fill-rule="evenodd"
                            d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                            clip-rule="evenodd" />
                    </svg>

                    <span class="sr-only">Instagram page</span>
                </a>
            </div>
        </div>
    </div>




    <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.event.move/2.0.0/jquery.event.move.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twentytwenty/1.0.0/jquery.twentytwenty.min.js"></script>
    <script src="scripts/twentytwenty-init.js"></script>
    <script src="scripts/testimonials.js"></script>
    <script src="scripts/scroll-h2-animate.js"></script>

</footer>