@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@plugin "flowbite-typography";
@source "../node_modules/flowbite";

:root {
    --font-heading: "Oswald", sans-serif;
    --font-paragraph: "Quicksand", sans;
    --font-accent: "Roboto", monospace;
}

.font-heading {
    font-family: var(--font-heading);
    font-weight: 800;
}

.font-paragraph {
    font-family: var(--font-paragraph);
    font-weight: 500;
}

.font-accent {
    font-family: var(--font-accent);
    font-weight: 800;
}

.twentytwenty-container img {
    object-fit: cover;
}

@layer utilities {
    .pre-slide-h2 {
        opacity: 0;
        transform: translateY(30px);
    }

    .animate-slide-in-h2 {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition: all 0.7s ease-out;
    }
}