@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
    --font-heading: "Oswald", sans-serif;
    --font-paragraph: "Quicksand", sans;
    --font-accent: "Roboto", monospace;
}

.font-heading {
    font-family: var(--font-heading);
    font-weight: 800;
}

.font-paragraph {
    font-family: var(--font-paragraph);
    font-weight: 500;
}

.font-accent {
    font-family: var(--font-accent);
    font-weight: 800;
}

.twentytwenty-container img {
    object-fit: cover;
}